# Arquivos binários e compilados
*.exe
*.out
*.o
*.obj
*.dll
*.so
*.dylib

# Diretórios de build ou temporários
build/
cmake-build-*/ 
*.vscode/
*.idea/
*.DS_Store
*.swp

# Arquivos de depuração
*.log
*.stackdump

# Arquivos de cache do sistema operacional
*.Thumbs.db
*.desktop.ini

# Arquivos gerados pelo editor ou IDE
*.user
*.project
*.cproject
*.pydevproject
*.class

